DB_HOST=localhost
DB_NAME="dbname"
DB_USER="dbuser"
DB_PORT=5432
DB_PASSWORD="dbpassword"

APP_NAME="appname"
JWT_SECRET="jwtsecret"
JWT_EXPIRE="24h"

# GET STRIPE SECRET IN STRIPE DASHBOARD, GET WEBHOOK KEY IN STRIPE CLI
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_KEY=
STRIPE_SUCCESS_URL="http://localhost:3000"
STRIPE_CANCEL_URL="http://localhost:3000"

S3_ENDPOINT="localhost:8333"
S3_ACCESS_KEY="accesskey"
S3_SECRET_KEY="secretkey"

REDIS_ADDRESS="localhost:6379"
REDIS_PASSWORD="redispassword"
REDIS_DB=0
REDIS_PORT=6379
